<div class="container-fluid mt-4 pt-4">
  <h1 class="text-center text-info font-weight-bold">FAQs</h1>
  <div class="row">
    <div class="mx-auto">
      <div class="col p-5">
        <div class="fa-10x fas fa-hand-holding-heart"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <h2 class="text-center text-info font-weight-bold">
        Please review the information below for valuable details about The
        Volunteer Calendar
      </h2>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <h3 class="text-center">
        Do you have to pay to use The Volunteer Calendar?
      </h3>
      <p class="text-center">
        The Volunteer Calendar is completely free to use. You are welcome to
        support your local nonprofits by donating via our
        <a href="donate">donate page</a>. 100% of all donations go to the
        nonprofit of your choice.
      </p>
      <br />
      <h3 class="text-center">
        Why was The Volunteer Calendar created?
      </h3>
      <p class="text-center">
        The Volunteer Calendar was created to provide an easy way to empower
        folks to support nonprofits in their local community. We aim to remove
        barriers for volunteering to expand community involvement and better the
        world.
      </p>
      <br />
      <h3 class="text-center">
        How can I volunteer?
      </h3>
      <p class="text-center">
        The Volunteer Calendar provides two simple ways to find volunteer
        opportunities: <br />
        1) Visit our <a href="calendar">Calendar</a> page to find upcoming
        events to join that works within your schedule. <br />
        2) Visit our <a href="categories">Categories</a> page to find nonprofits
        that support things you care about (ex. Animals) and see events specific
        to those organizations.
      </p>
      <br />
      <h3 class="text-center">
        Do I need an account to use The Volunteer Calendar?
      </h3>
      <p class="text-center">
        You do not need to <a href="register">create an account</a> to view
        events or nonprofit details, but it will allow you to join events to
        receive updates and have a profile page with your scheduled events and
        favorited nonprofits.
      </p>
    </div>
  </div>
</div>
