<header>
  <div class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-info">
      <a class="justify-content-left nav-link text-light" href="" id="logo"
        ><span class="volunteer-calendar-logo">
          <div class="fa-2x fas fa-hand-holding-heart"></div>
          The Volunteer Calendar
        </span>
      </a>

      <button
        class="navbar-toggler btn-light mt-1"
        type="button"
        data-toggle="collapse"
        (click)="isNavbarCollapsed = !isNavbarCollapsed"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        [ngbCollapse]="!isNavbarCollapsed"
        class="collapse navbar-collapse"
        id="navbarNav"
      >
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-light" href="categories">Categories</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-light" href="calendar">Calendar</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-light" href="aboutUs">About Us</a>
          </li>
          <!--Account Dropdown Menu-->

          <li class="nav-item dropdown" ngbDropdown>
            <a
              class="nav-link dropdown-toggle text-light"
              ngbDropdownToggle
              id="navbarDropdownAccount"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Account</a
            >
            <div
              class="dropdown-menu"
              ngbDropdownMenu
              aria-labelledby="navbarDropdown"
            >
              <a
                class="dropdown-item"
                ngbDropdownItem
                href=""
                routerLink=""
                (click)="profile()"
                >Profile</a
              >
              <app-sign-up></app-sign-up>
              <app-sign-in></app-sign-in>
              <a
                class="dropdown-item"
                ngbDropdownItem
                href=""
                routerLink=""
                (click)="signOut()"
                >Sign Out</a
              >
            </div>
          </li>
          <!-- </ul> -->
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </ul>
      </div>
    </nav>
  </div>
</header>
