<div class="container-fluid mt-5 pt-5">
  <!--JUMBOTRON:-->

  <div class="jumbotron p-5 container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <ngb-carousel>
          <div class="row justify-content-md-center">
            <ng-template ngbSlide>
              <img
                src="../assets/watermelonMountainRanch.jpg"
                alt="Welcome To The Volunteer Calendar"
                class="rounded mx-auto"
              />
              <div class="carousel-caption text-dark">
                <h3>Welcome to the Volunteer Calendar!</h3>
                <p>
                  Please explore and find organizations or upcoming events to
                  join.
                </p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img
                src="../assets/watermelonMountainRanch.jpg"
                alt="Watermelon Mountain Ranch"
                class="rounded mx-auto"
              />
              <div class="carousel-caption text-dark">
                <h3>Watermelon Mountain Ranch</h3>
                <p>
                  A local animal welfare organization focused on finding homes
                  for all animals.
                </p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img
                src="../assets/habitatForHumanity.jpg"
                alt="Habitat For Humanity"
                class="rounded mx-auto"
              />
              <div class="carousel-caption text-dark">
                <h3>Habit For Humanity of New Mexico</h3>
                <p>
                  Everyone deserves a home in New Mexico!
                </p>
              </div>
            </ng-template>
          </div>
        </ngb-carousel>
      </div>

      <div class="col-lg-3">
        <div class="card">
          <h3>Event Information</h3>
          <p>
            This section will display event information tied to display ad such
            as date, time, location, and other details.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--VOLUNTEER BY LINKS:-->
  <div class="container-fluid  pt-5">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <a href="./categories" class="btn btn-primary"
            ><p>Volunteer By Organization</p></a
          >
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <a href="./calendar" class="btn btn-primary"
            ><p>Volunteer By Date</p></a
          >
        </div>
      </div>
    </div>
  </div>

  <!--SUB LINKS:-->
  <div class="container-fluid pt-5">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <a href="./categories" class="btn btn-danger"><p>FAQ's</p></a>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card h-75">
          <a href="./calendar" class="btn btn-danger"><p>Gallery</p></a>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <a href="./calendar" class="btn btn-danger"><p>Donate</p></a>
        </div>
      </div>
    </div>
  </div>
</div>
