<div class="container-fluid mt-5 pt-5">
  <!--JUMBOTRON:-->
  <div class="jumbotron p-5 container-fluid">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="row">
          <div class="col-9">
            <img
              src="assets/logo.png"
              alt="Welcome To The Volunteer Calendar"
              class="rounded mx-auto"
            />
          </div>
          <div class="col-3">
            <div class="card">
              <h3>Welcome to the Volunteer Calendar!</h3>
              <p>
                Please explore and find organizations or upcoming events to
                join.
              </p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="row">
          <div class="col-9">
            <img
              src="assets/watermelonMountainRanch.jpg"
              alt="Watermelon Mountain Ranch"
              class="rounded mx-auto"
            />
          </div>
          <div class="col-3">
            <div class="card">
              <h3>Watermelon Mountain Ranch</h3>
              <p>
                New Mexico's largest no-kill animal shelter, Watermelon Mountain
                Ranch is a pet rescue and advocacy organization savings
                thousands of dogs and cats each year.
              </p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="row">
          <div class="col-9">
            <img
              src="assets/habitatForHumanity.jpg"
              alt="Welcome To The Volunteer Calendar"
              class="rounded mx-auto"
            />
          </div>
          <div class="col-3">
            <div class="card">
              <h3>Habitat For Humanity</h3>
              <p>
                Habitat for Humanity of New Mexico is dedicated to eliminating
                substandard housing locally and worldwide through constructing,
                rehabilitating and preserving homes.
              </p>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <!--VOLUNTEER BY LINKS:-->
  <div class="container-fluid  pt-5">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <a href="./categories" class="btn btn-primary"
            ><p>Volunteer By Organization</p></a
          >
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <a href="./calendar" class="btn btn-primary"
            ><p>Volunteer By Date</p></a
          >
        </div>
      </div>
    </div>
  </div>

  <!--SUB LINKS:-->
  <div class="container-fluid pt-5">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <a href="./categories" class="btn btn-danger"><p>FAQ's</p></a>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card h-75">
          <a href="./calendar" class="btn btn-danger"><p>Gallery</p></a>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <a href="./calendar" class="btn btn-danger"><p>Donate</p></a>
        </div>
      </div>
    </div>
  </div>
</div>
