<div class="container-fluid mt-4 pt-4">
  <h1 class="text-center text-info font-weight-bold">
    The Volunteer Calendar
  </h1>
  <br />
  <!--JUMBOTRON-->
  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid rounded p-3 d-none d-md-block">
      <ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide>
          <div class="row justify-content-center" onmouseover="" style="cursor:pointer">
            <div class="col-8">
              <img src="assets/volunteer-banner.svg" alt="Welcome To The Volunteer Calendar"
                class="rounded img-fluid text-centered mx-auto" routerLink="calendar" alt="Events Calendar"
                title="Events Calendar" />
            </div>
            <div class="col px-3 mx-auto d-none d-xl-block">
              <h3 class="font-weight-bold text-light">
                Welcome to the Volunteer Calendar!
              </h3>
              <p class="text-light">
                Please explore and find organizations or upcoming events to
                join.
              </p>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row justify-content-center" onmouseover="" style="cursor:pointer">
            <div class="col-8">
              <img src="assets/puppyadoption.svg" alt="Watermelon Mountain Ranch" class="rounded img-fluid mx-auto"
                routerLink="watermelon-mountain-ranch" alt="Watermelon Mountain Ranch"
                title="Watermelon Mountain Ranch" />
            </div>
            <div class="col px-3 mx-auto d-none d-xl-block">
              <h3 class="font-weight-bold text-light">
                Watermelon Mountain Ranch
              </h3>
              <p class="text-light">
                Puppy adoption event 8/31 <br />9:00am-3:00pm @ Petsmart on
                Coors Blvd
              </p>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row justify-content-center">
            <div class="col-8">
              <img src="assets/habitat-for-humanity-banner.svg" alt="Habitat For Humanity"
                class="rounded img-fluid mx-auto" />
            </div>
            <div class="col px-3 mx-auto d-none d-xl-block">
              <h3 class="font-weight-bold text-light">
                Habitat For Humanity
              </h3>
              <p class="text-light">
                A world where everyone has a decent place to live.
              </p>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>

<!-- VOLUNTEER BY LINKS -->

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-lg-6 col-md-7 p-3 mx-auto">

      <div class="btn btn-info m-2 font-weight-bold" id="volunteer-by-buttons" routerLink="join-event">
        Volunteer By Category
      </div>

    </div>

    <div class="col-lg-6 col-md-7 p-3 mx-auto">
      <div class="btn btn-info m-2 font-weight-bold" id="volunteer-by-buttons" routerLink="calendar">
        Volunteer By Date
      </div>

    </div>
  </div>
</div>

<!--SUB LINKS:-->
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-lg-4 col-md-7 p-3 mx-auto">
      <div class="fa-7x fas fa-question-circle" id="faq-icon" routerLink="faq" alt="FAQs" title="FAQs" onmouseover=""
        style="cursor:pointer">
      </div>
    </div>

    <div class="col-lg-4 col-md-7 p-3 mx-auto">
      <div class="fa-7x fas fa-images" id="gallery-icon" routerLink="gallery" alt="Gallery" title="Gallery"
        onmouseover="" style="cursor:pointer"></div>
    </div>

    <div class="col-lg-4 col-md-7 p-3 mx-auto">
      <div class="fa-7x fas fa-hand-holding-usd" id="donate-icon" routerLink="donate" alt="Donate" title="Donate"
        onmouseover="" style="cursor:pointer"></div>
    </div>
  </div>