#faq-icon {
  color: #de795b;
}

#gallery-icon {
  color: #de795b;
}

#donate-icon {
  color: #de795b;
}

#volunteer-by-buttons {
  width: 12em;
  font-size: 1.5em;
}

.jumbotron {
  background-color: #de795b;
}

