.carousel-caption {
  position: relative;
  text-align: center;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5), 2px 2px 16px rgba(0, 0, 0, 0);
}

.card {
  background: none;
  border: none;
}

.jumbotron {
  background-color: #de795b;
}

#faq-icon {
  color: #de795b;
}

#gallery-icon {
  color: #de795b;
}

#donate-icon {
  color: #de795b;
}

#volunteer-by-buttons {
  width: 12em;
  font-size: 1.5em;
}
