<div class="container-fluid mt-4 pt-4">
  <h1 class="text-center text-info font-weight-bold">
    Gallery
  </h1>
  <br />
  <br />
  <div class="row">
    <div class="col-lg-3 col-md-4 col-6 p-1">
      <img
        class="img-fluid"
        src="assets/gallery_1.jpg"
        alt="Volunteering Rules!"
      />
    </div>
    <div class="col-lg-3 col-md-4 col-6 p-1">
      <img
        class="img-fluid"
        src="assets/gallery_2.JPG"
        alt="Volunteering Rules!"
      />
    </div>
    <div class="col-lg-3 col-md-4 col-6 p-1">
      <img
        class="img-fluid"
        src="assets/gallery_3.jfif"
        alt="Volunteering Rules!"
      />
    </div>
    <div class="col-lg-3 col-md-4 col-6 p-1">
      <img
        class="img-fluid"
        src="assets/gallery_4.JPG"
        alt="Volunteering Rules!"
      />
    </div>
    <div class="col-lg-3 col-md-4 col-6 p-1">
      <img
        class="img-fluid"
        src="assets/gallery_5.JPG"
        alt="Volunteering Rules!"
      />
    </div>
    <div class="col-lg-3 col-md-4 col-6 p-1">
      <img
        class="img-fluid"
        src="assets/gallery_6.JPG"
        alt="Volunteering Rules!"
      />
    </div>
    <div class="col-lg-3 col-md-4 col-6 p-1">
      <img
        class="img-fluid"
        src="assets/gallery_7.jpg"
        alt="Volunteering Rules!"
      />
    </div>
    <div class="col-lg-3 col-md-4 col-6 p-1">
      <img
        class="img-fluid"
        src="assets/gallery_8.jpg"
        alt="Volunteering Rules!"
      />
    </div>
    <div class="col-lg-3 col-md-4 col-6 p-1">
      <img
        class="img-fluid"
        src="assets/gallery_9.jpg"
        alt="Volunteering Rules!"
      />
    </div>
    <div class="col-lg-3 col-md-4 col-6 p-1">
      <img
        class="img-fluid"
        src="assets/gallery_10.JPG"
        alt="Volunteering Rules!"
      />
    </div>
    <div class="col-lg-3 col-md-4 col-6 p-1">
      <img
        class="img-fluid"
        src="assets/gallery_11.JPG"
        alt="Volunteering Rules!"
      />
    </div>
    <div class="col-lg-3 col-md-4 col-6 p-1">
      <img
        class="img-fluid"
        src="assets/gallery_12.jpg"
        alt="Volunteering Rules!"
      />
    </div>
  </div>
</div>
