<div class="container justify-content-center mt-5 pt-5">
  <h1 class="display-4"><strong>Categories</strong></h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="card-columns">
      <div class="col-sm-4 col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="card card-images">
              <img
                src="../assets/watermelonMountainRanch.jpg"
                alt="Watermelon Mountain Ranch"
                class="rounded-circle"
              />
            </div>
            <a href="#" class="btn btn-primary">ANIMALS</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="card card-images">
              <img
                src="../assets/watermelonMountainRanch.jpg"
                alt="Watermelon Mountain Ranch"
                class="rounded-circle"
              />
            </div>
            <a href="#" class="btn btn-primary">ANIMALS</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="card card-images">
              <img
                src="../assets/watermelonMountainRanch.jpg"
                alt="Watermelon Mountain Ranch"
                class="rounded-circle"
              />
            </div>
            <a href="#" class="btn btn-primary">ANIMALS</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="card card-images">
              <img
                src="../assets/watermelonMountainRanch.jpg"
                alt="Watermelon Mountain Ranch"
                class="rounded-circle"
              />
            </div>
            <a href="#" class="btn btn-primary">ANIMALS</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="card card-images">
              <img
                src="../assets/watermelonMountainRanch.jpg"
                alt="Watermelon Mountain Ranch"
                class="rounded-circle"
              />
            </div>
            <a href="#" class="btn btn-primary">ANIMALS</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="card card-images">
              <img
                src="../assets/watermelonMountainRanch.jpg"
                alt="Watermelon Mountain Ranch"
                class="rounded-circle"
              />
            </div>
            <a href="#" class="btn btn-primary">ANIMALS</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="card card-images">
              <img
                src="../assets/watermelonMountainRanch.jpg"
                alt="Watermelon Mountain Ranch"
                class="rounded-circle"
              />
            </div>
            <a href="#" class="btn btn-primary">ANIMALS</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="card card-images">
              <img
                src="../assets/watermelonMountainRanch.jpg"
                alt="Watermelon Mountain Ranch"
                class="rounded-circle"
              />
            </div>
            <a href="#" class="btn btn-primary">ANIMALS</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="card card-images">
              <img
                src="../assets/watermelonMountainRanch.jpg"
                alt="Watermelon Mountain Ranch"
                class="rounded-circle"
              />
            </div>
            <a href="#" class="btn btn-primary">ANIMALS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
