<div class="container-fluid mt-4 pt-4">
  <h1 class="text-center text-info font-weight-bold">Categories</h1>
  <div class="row text-center">
    <div class="card-columns mx-auto">
      <!--Category Cards-->

      <div class="col py-1">
        <div class="card">
          <div class="fa-7x fas fa-dog" id="category-icons">
            <div class="w-100">
              <div class="btn btn-info m-2">
                <app-animals-category></app-animals-category>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col py-1">
        <div class="card">
          <a href="#" alt="Environment" title="Environment">
            <div class="fa-7x fas fa-tree" id="category-icons">
              <div class="w-100">
                <div class="btn btn-info m-2">ENVIRONMENT</div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col py-1">
        <div class="card">
          <a href="#" alt="Children" title="Children">
            <div class="fa-7x fas fa-child" id="category-icons">
              <div class="w-100">
                <div class="btn btn-info m-2">CHILDREN</div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-4 col-lg-6 py-1">
        <div class="card">
          <a href="#" alt="Transportation" title="Transportation">
            <div class="fa-7x fas fa-bicycle" id="category-icons">
              <div class="w-100">
                <div class="btn btn-info m-2">TRANSPORTATION</div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-4 col-lg-6 py-1">
        <div class="card">
          <a href="#" alt="Education" title="Education">
            <div class="fa-7x fas fa-graduation-cap" id="category-icons">
              <div class="w-100">
                <div class="btn btn-info m-2">EDUCATION</div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-4 col-lg-6 py-1">
        <div class="card">
          <a href="#" alt="Healthcare" title="Healthcare">
            <div class="fa-7x fas fa-hospital-alt" id="category-icons">
              <div class="w-100">
                <div class="btn btn-info m-2">HEALTHCARE</div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-4 col-lg-6 py-1">
        <div class="card">
          <a href="#" alt="Equality" title="Equality">
            <div class="fa-7x fas fa-equals" id="category-icons">
              <div class="w-100">
                <div class="btn btn-info m-2">EQUALITY</div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-4 col-lg-6 py-1">
        <div class="card">
          <a href="#" alt="Housing" title="Housing">
            <div class="fa-7x fas fa-home" id="category-icons">
              <div class="w-100">
                <div class="btn btn-info m-2">HOUSING</div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-4 col-lg-6 py-1">
        <div class="card">
          <a href="#" alt="Technology" title="Technology">
            <div class="fa-7x fas fa-laptop-code" id="category-icons">
              <div class="w-100">
                <div class="btn btn-info m-2">TECHNOLOGY</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
