<div class="container-fluid mt-4 pt-4">
  <h1 class="text-center text-info font-weight-bold">Categories</h1>
  <br />
  <br />
  <div class="row text-center justify-content-around">
    <div class="col-lg-3 col-md-4 col-sm-6 col-8 p-1">
      <div class="fa-7x fas fa-dog" id="category-icons">
        <div class="w-100">
          <div class="btn btn-info m-2" id="category-button">
            <app-animals-category></app-animals-category>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-8 p-1">
      <div class="fa-7x fas fa-tree" id="category-icons">
        <div class="w-100">
          <div class="btn btn-info m-2" id="category-button">
            ENVIRONMENT
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-8 p-1">
      <div class="fa-7x fas fa-child" id="category-icons">
        <div class="w-100">
          <div class="btn btn-info m-2" id="category-button">
            CHILDREN
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-8 p-1">
      <div class="fa-7x fas fa-bicycle" id="category-icons">
        <div class="w-100">
          <div class="btn btn-info m-2" id="category-button">
            TRANSPORTATION
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-1">
      <div class="fa-7x fas fa-graduation-cap" id="category-icons">
        <div class="w-100">
          <div class="btn btn-info m-2" id="category-button">
            EDUCATION
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-1">
      <div class="fa-7x fas fa-hospital-alt" id="category-icons">
        <div class="w-100">
          <div class="btn btn-info m-2" id="category-button">
            HEALTHCARE
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-1">
      <div class="fa-7x fas fa-equals" id="category-icons">
        <div class="w-100">
          <div class="btn btn-info m-2" id="category-button">
            EQUALITY
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-1">
      <div class="fa-7x fas fa-home" id="category-icons">
        <div class="w-100">
          <div class="btn btn-info m-2" id="category-button">HOUSING</div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 p-1">
      <div class="fa-7x fas fa-laptop-code" id="category-icons">
        <div class="w-100">
          <div class="btn btn-info m-2" id="category-button">
            TECHNOLOGY
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
