html {
  font-family: Montserrat;
}
h1 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

label {
  font-size: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}

input,
textarea {
  margin-left: 1em;
}
