<div class="container-fluid mt-4 pt-4">
  <h1 class="text-center text-info font-weight-bold">Donate</h1>
  <br />
  <br />
  <h2 class="text-center text-info font-weight-bold">
    Thank you for supporting nonprofits in your community!
  </h2>
  <br />

  <div class="row">
    <div class="form-group mx-auto">
      <div class="input-group">
        <select
          class="custom-select"
          id="donation-selection"
          aria-label="Please select a non-profit organization to donate to."
        >
          <option selected
            >Please select a non-profit organization for your donation</option
          >
          <option value="1">Animal Humane New Mexico</option>
          <option value="2">Habitat For Humanity</option>
          <option value="3">New Mexico Animal Friends</option>
          <option value="4">Watermelon Mountain Ranch</option>
        </select>
        <div class="input-group-append">
          <button
            class="btn btn-outline-light"
            id="donation-continue"
            type="button"
          >
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
