<div class="container-fluid mt-4 pt-4">
  <h1 class="text-center text-info font-weight-bold">
    Bruce Wayne's Profile
  </h1>
  <br />
  <!--JUMBOTRON-->
  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid rounded p-5">
      <div class="row">
        <div class="col-9">
          <a href="calendar" alt="events calendar" title="Events Calendar"
            ><img
              src="assets/volunteer-banner.svg"
              alt="Welcome To The Volunteer Calendar"
              class="rounded mx-auto"
          /></a>
        </div>
        <div class="col-3">
          <div class="card">
            <h3 class="font-weight-bold text-light">
              Welcome to the Volunteer Calendar!
            </h3>
            <p class="d-lg-none d-xl-block text-light">
              Please explore and find organizations or upcoming events to join.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-calendar></app-calendar>
</div>
