<div class="container-fluid mt-4 pt-4">
  <h1 class="text-center text-info font-weight-bold">
    Bruce Wayne's Profile
  </h1>
  <br />
  <div class="user">
    <div>
      <img
        src="https://is5-ssl.mzstatic.com/image/thumb/Purple118/v4/ea/69/7c/ea697c12-6de6-22bd-244f-cc48e1a49318/mzl.iayvqrek.png/246x0w.jpg"
        alt="batman-portrait">
    </div>
    <div>
      <strong>About Me:</strong> <br>
      <div class="blurb">
        <span>My volunteering passion is dressing up as Batman to cheer up kids stuck in prisons/ I mean school. I have
          been
          working with disadvantaged
          children and
          animals for the past
          three
          years. Also like to give rides to
          old ladies who need to go grocery shopping.
        </span>
        <div class="fun">
          <span><strong>Fun Fact:</strong> Green chile is Bruce's #1!!! (though I also like red).</span>
        </div>
      </div>
    </div>
  </div>
  <div class="history">My Volunteer History</div>

  <div class="achievements">
    <div>Total hours volunteered: {{ hours }}</div>
    <div>Organizations volunteered for: {{ orgNames }}</div>
    <div>Favorite Organization: {{ favOrg }}</div>
  </div>