<div class="container-fluid mt-4 pt-4">
  <h1 class="text-center text-info font-weight-bold">
    Watermelon Mountain Ranch
  </h1>
  <br />
  <!--JUMBOTRON-->
  <div class="container-fluid">
    <div
      class="jumbotron jumbotron-fluid rounded col-lg-16 col-md-12 p-3 d-none d-md-block mx-auto"
    >
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-lg-9 col-md-8 p-3 mx-auto">
              <a
                href="watermelon-mountain-ranch"
                alt="Watermelon Mountain Ranch"
                title="Watermelon Mountain Ranch"
              >
                <img
                  src="assets/puppyadoption.svg"
                  alt="Watermelon Mountain Ranch"
                  class="rounded mx-auto"
                />
              </a>
            </div>
            <div class="col-3 p-3 mx-auto">
              <div class="card d-none d-xl-block">
                <h3 class="font-weight-bold text-light">
                  Watermelon Mountain Ranch
                </h3>
                <p class="text-light">
                  Puppy adoption event 8/31 <br />9:00am-3:00pm <br />@ Petsmart
                  on Coors Blvd.
                </p>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-lg-9 col-md-8 p-3 mx-auto">
              <a href="watermelon-mountain-ranch">
                <img
                  src="assets/puppyadoption.svg"
                  alt="Watermelon Mountain Ranch"
                  class="rounded mx-auto"
                />
              </a>
            </div>
            <div class="col-3 p-3 mx-auto">
              <div class="card d-none d-xl-block">
                <h3 class="font-weight-bold text-light">
                  Watermelon Mountain Ranch
                </h3>
                <p class="text-light">
                  Puppy adoption event 8/31 <br />9:00am-3:00pm <br />@ Petsmart
                  on Coors Blvd.
                </p>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-lg-9 col-md-8 p-3 mx-auto">
              <a href="watermelon-mountain-ranch">
                <img
                  src="assets/puppyadoption.svg"
                  alt="Watermelon Mountain Ranch"
                  class="rounded mx-auto"
                />
              </a>
            </div>
            <div class="col-3 p-3 mx-auto">
              <div class="card d-none d-xl-block">
                <h3 class="font-weight-bold text-light">
                  Watermelon Mountain Ranch
                </h3>
                <p class="text-light">
                  Puppy adoption event 8/31 <br />9:00am-3:00pm <br />@ Petsmart
                  on Coors Blvd.
                </p>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <app-calendar></app-calendar>
</div>
